.currency-selector
  - if @current_community.available_currencies
    - currencies = @current_community.available_currencies.gsub(" ","").split(",")
    - if currencies.size > 1
      = form.select :currency, currencies, { :selected => (@listing.currency || currencies.first) }
    - else
      = APP_CONFIG.currency_symbol
      = form.hidden_field :currency, :value => "INR"
  - else
    = form.select :currency, major_currencies(Money::Currency.table), { :selected => (@listing.currency || "EUR") }
