#footer
  .row
    .col-3
      .about-us 
        .title
          About us
        .content
          Dear Mamas and Papas! This group has been made for you to buy/sell/swap/donate your kid's used items. We all love to give our kids so many things, but what better could be if those things can be re-used by someone else just like we shared our sibling's clothes/books/toys and what not! We have more fun and activities awaiting for you at our facebook group:
          %br
          www.facebook.com/groups/secondcry
    .col-3
      .about-us 
        .title
          Contact us
        .content
          secondcry.com@gmail.com
          %br
          8095117799
        .split-line
        .title
          keep in touch
        .facebook-icon
          =icon_tag("facebook", ["icon"])
        %br
        .split-line
        .title
          We Accept
        = image_tag 'card.png'
    .col-3
      .about-us 
        .title
          More About Us
        .content
          About Us
          %br
          Terms & Conditions
          %br
          Shipping & Delivery Policy
    .col-3
      .secondcry 
        = image_tag 'secondcry.jpg', style: "width: 100%; padding: 10px;"